apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: api-storage-pvc
  namespace: __K8S_NAMESPACE__
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: standard-rwx
  resources:
    requests:
      storage: 100Gi
